.card {
  width: 282px;
  max-height: 452px;
  padding: 13px;
  background: rgba(216, 216, 216, 0);
  border-radius: 6px 6px 6px 6px;
  opacity: 1;
  border: 1px solid #8F8F8F;
}


.goodName {
  font-size: 20px;
  font-family: Source Han Sans CN-Regular, Source Han Sans CN;
  font-weight: 400;
  color: #D6D6D6;
}

.goodId {
  font-size: 16px;
  font-family: Source Han Sans CN-Regular, Source Han Sans CN;
  font-weight: 400;
  color: #D6D6D6;
}

.goodInfo {
  font-size: 16px;
  font-family: Source Han Sans CN-Regular, Source Han Sans CN;
  font-weight: 400;
  color: #D6D6D6;
  line-height: 22px;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
}

.statusTag {
  float: right;
}
