

.divider {
  width: 100%;
  height: 46px;
  font-size: 35px;
  font-family: YouSheBiaoTiHei-Bold, YouSheBiaoTiHei;
  font-weight: bold;
  color: #EAEAEA;
  line-height: 49px;
  background: linear-gradient(to right, #A183EE, pink, #A183EE, pink, #A183EE, pink);
  word-wrap: normal;
  white-space: nowrap;
}
